/* 
******************************************
DESIGN GUIDELINES
******************************************

--01 TYPOGRAPHY SYSTEM

- Font Size System(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weight:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line Heights:
Default: 1
Small: 1.05
Medium: 1.2
<p> Default: 1.6

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


--- 02 COLORS

Primary: #40407a, 
Tints:  #535387; #a0a0bd; #ececf2; 
Shades: #3a3a6e; #20203d; #06060c; 
Accents: #33d9b2
Greys: #bcb8ad; #696660; #151413; 

 rest of the colors 
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;


--- 03 IMAGES
--- 04 ICONS

--- 05 SHADOWS

Default: box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIOUS
Default : 9px
Medium: 1.2rem

--- 07 WHITE SPACE
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ============= VARIABLES =============== */

:root {
  /* colors */
  --primary: #40407a;

  --primary-tint-dark: #535387;
  --primary-tint-medium: #a0a0bd;
  --primary-tint-light: #ececf2;

  --primary-shade-light: #3a3a6e;
  --primary-shade-medium: #20203d;
  --primary-shade-dark: #06060c;

  --accent: #33d9b2;

  --grey-light: #bcb8ad;
  --grey-medium: #696660;
  --grey-dark: #151413;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* ============= GLOBAL CSS =============== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  /* Percentage of user's default browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  /* animates smooth scrooling within internal links only using css, can be also done in javascript */
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Rubik", sans-serif, system-ui, -apple-system;
  line-height: 1;
  font-weight: 400;
  color: #555;
  color: var(--textColor);
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
